main {
  position: relative;
  outline: 2px solid black;
  padding: 20px;
  height: 78%;
  background-image: url('../images/background2.jpeg');
  background-size: cover;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  outline: 2px solid black;
  height: 15%;
  background-color: rgba(120,120,120,1);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  outline: 2px solid black;
  height: 7%;
  background-color: #618685;
}

@media screen and (min-width: 640px) {
  aside {
    flex-direction: row;
    justify-content: center;
  }
}
