main {
  position: relative;
  outline: 2px solid black;
  padding: 20px;
  height: 78%;
  background-color: rgba(235,235,235,0.5);
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  outline: 2px solid black;
  height: 15%;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  outline: 2px solid black;
  height: 7%;
}

@media screen and (min-width: 640px) {
  aside {
    flex-direction: row;
    justify-content: center;
  }
}
