main {
  position: relative;
  outline: 2px solid black;
  height: 93%;
  background-color: black;
  z-index: -1;
  /*background-image: url('../images/background2.jpeg');*/
}

#background1 {
  box-sizing: none;
  padding: 5px;
  height: 640px;
  left: 100%;
  width: 960px;
  background-image: url('../images/background1.jpg');
  position: fixed;
  z-index: -1;
  border: 5px dotted white;
  background-size: cover;
  margin-top: 5%;
}

#background2 {
  box-sizing: none;
  padding: 5px;
  height: 640px;
  left: 50%;
  margin-left: -460px;
  width: 960px;
  background-image: url('../images/background2.jpeg');
  position: fixed;
  z-index: -1;
  border: 5px dotted white;
  background-size: cover;
  margin-top: 5%;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  outline: 2px solid black;
  height: 15%;
  background-color: rgba(120,120,120,1);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  outline: 2px solid black;
  height: 7%;
  background-color: black;
}

@media screen and (min-width: 640px) {
  aside {
    flex-direction: row;
    justify-content: center;
  }
}
