/* Nav Bar */
nav > ul {
  float: right;
  clear: right;
  font-size: 1.5em;
  display: none;
}

nav ul:hover {
  display: block;
}

nav > ul li {
  border-bottom: 1px solid black;
  line-height: 2em;
  margin-left: 1em;
}

.menu {
  float: right;
}

.menu:hover:first-of-type + ul {
  display: block;
}

.name {
  float: left;
  font-size: 3em;
  margin-bottom: 10px;
}

.icons {
  clear: left;
}

.icon {
  margin-right: 20px;
}

/* main */
.bubbles {
  position: absolute;
  bottom: 20px;
  left: 0px;
  width: 100%;
  text-align: center;
  /*outline: 2px solid black;*/
}

.bubble {
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 15px;
}

/* Featured projects aside */
.project {
  outline: 2px solid black;
  height: 70%;
  width: 10em;
  margin: 0px auto;
  background-color: rgba(235,235,235,0.5);
  display: inline;
}

.project:first-of-type, .project:last-of-type {
    display: none;
}

/* Footer */
footer > ul {
  text-align: center;
}

footer > ul li {
  display: inline;
  font-size: 1em;
  margin-left: 10%;
  margin-right: 10%;
}

@media screen and (min-width: 640px) {
  .menu {
    display: none;
  }
  nav > ul {
    display: block;
  }

  nav > ul li {
    display: inline;
  }

  .project, .project:first-of-type, .project:last-of-type {
    display: inline-block;
    margin-top: 1em;
  }

}
