/*font-family: 'Satisfy', cursive;
font-family: 'Sirin Stencil', cursive;
font-family: 'Flavors', cursive;
font-family: 'Ruge Boogie', cursive;
font-family: 'Jacques Francois Shadow', cursive;*/

header {
  padding: 20px;
}

/* Nav Bar */
nav > ul {
  float: right;
  clear: right;
  font-size: 1.5em;
  display: none;
}

nav ul:hover {
  display: block;
}

nav > ul li {
  border-bottom: 1px solid black;
  line-height: 2em;
  margin-left: 1em;
}

.menu {
  float: right;
}

.menu:hover:first-of-type + ul {
  display: block;
}

.name {
  float: left;
  font-size: 3em;
  margin-bottom: 10px;
  color: white;
  /*font-family: 'Sedgwick Ave Display', cursive;*/
  font-family: 'Satisfy', cursive;
  /*font-family: 'Sirin Stencil', cursive;*/
  /*font-family: 'Flavors', cursive;*/
  /*font-family: 'Ruge Boogie', cursive;*/
  /*font-family: 'Jacques Francois Shadow', cursive;*/
}

.icons {
  clear: left;
}

.icons li {
  display: inline;
  margin-right: 10px;
  font-size: 3em;
  line-height: 2em;
}

/* main */

/* Featured projects aside */
.project {
  outline: 2px solid black;
  height: 70%;
  width: 10em;
  margin: 0px auto;
  background-color: rgba(235,235,235,0.5);
  display: inline;
}

.project:first-of-type, .project:last-of-type {
    display: none;
}

/* Footer */
footer ul {
  text-align: center;
}

footer ul li {
  display: inline;
  margin-left: 3%;
  margin-right: 3%;
}

@media screen and (min-width: 640px) {
  .menu {
    display: none;
  }
  nav > ul {
    display: block;
  }

  nav > ul li {
    display: inline;
    border: none;
  }

  .project, .project:first-of-type, .project:last-of-type {
    display: inline-block;
    margin-top: 1em;
  }

}
